PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
RPC_URL=http://127.0.0.1:8545
EXPECTED_CHAIN_ID=31337
MNEMONIC="test test test test test test test test test test test junk"
NUM_OPERATORS=10
NUM_MANAGED_NODES=0
DEPLOY_NODE_FACTORY=true
USE_NOOP_SLASHING=true
